<div class="row">
    <div class="col-md-12">

        <form id="phoneNumberForm">
            <h1> Citizen Case </h1>

            <label for="phoneNumber">Phone Number:</label>
            <input type="text" id="phoneNumber" [(ngModel)]="this.phoneNumber" name="phoneNumber">

            <div id="recaptcha-container"></div>

            <button class="smallerButton sendOtp" type="button" (click)="sendLoginCode()">Send OTP</button>


            <div *ngIf="windowRef.confirmationResult">
                <label for="otp">Otp:</label>
                <input type="text" class="otp" [(ngModel)]="otp" name="otp">

                <button class="smallerButton" type="button" (click)="verifyLoginCode()">Verify</button>

            </div>

            <p>{{errors}}</p>

        </form>

        <form [formGroup]="userData" (ngSubmit)="this.next()" *ngIf="this.verified" id="userForm">

            <fieldset>

                <legend><span class="number">1</span>Profile</legend>

                <label for="name">First Name:</label>
                <input type="text" id="name" formControlName="firstName" [required]="true">

                <label for="name">Last Name:</label>
                <input type="text" id="last_name" formControlName="lastName" required>

                <label for="gender">Gender:</label>
                <select id="gender" formControlName="gender" required>
                    <option value="Male">Male</option>
                    <option value="Male">Female</option>
                    <option value="Male">Can't Say</option>
                </select>

                <!--<label for="email">Email:</label>
          <input type="email" id="mail" name="user_email">-->

                <!--<label for="password">Password:</label>
          <input type="password" id="password"       name="user_password">-->

                <label for="dob">Date of Birth:</label>
                <input type="date" id="dob" formControlName="dob" name="dob" required>
                <!--<label for="dob">Age:</label><p>21</p>-->

                <label for="state">State:</label>
                <select id="state" formControlName="state" required>
                    <option *ngFor="let state of this.states" value={{state}}>{{state}}</option>
                </select>

                <label for="district">District:</label>
                <select id="district" formControlName="district" required>
                    <option *ngFor="let district of this.district" value={{district}}>{{district}}</option>
                </select>

                <label for="taluka">Taluka:</label>
                <select id="taluka" formControlName="taluka" required>
                    <option *ngFor="let taluka of this.taluka" value={{taluka}}>{{taluka}}</option>
                </select>

                <label for="religion">Religion:</label>
                <select id="religion" formControlName="religion" required>
                    <option *ngFor="let religion of this.religion" value={{religion}}>{{religion}}</option>
                </select>

                <label for="caste">Caste:</label>
                <select id="caste" formControlName="caste" required>
                    <option *ngFor="let caste of this.caste" value={{caste}}>{{caste}}</option>
                </select>

                <label for="maritalStatus">Marital Status:</label>
                <select id="maritalStatus" formControlName="maritalStatus" required>
                    <option *ngFor="let maritalStatus of this.maritalStatus" value={{maritalStatus}}>{{maritalStatus}}
                    </option>
                </select>

            </fieldset>

            <button class="submit" type="submit">Next</button>

        </form>

        <form [formGroup]="userData" id="quesForm" class="hide">

            <ng-container *ngFor="let item of questions;let i = index">
                <div [hidden]="item.isHidden"> {{item.desc}} 

                    <input *ngIf="item.type" type={{item.type}} formControlName={{item.name}} >
                    
                    <select *ngIf="!item.type" name="options" formControlName={{item.name}}>
                            <!--<option [defaultSelected]="true" disabled>Enter your choice</option>-->
                            <option *ngFor="let option of item.options" [ngValue]="option.value">{{option.desc}}</option>
                        </select> <br>
                    <button *ngIf="questions[i]" (click)="questions[i].isHidden = true;questions[i + 1] ?questions[i + 1].isHidden = false : false; checkLast(i);">Next</button>   

                </div>

            </ng-container>

            <button *ngIf="this.done" class="Qbuttons" type="submit" (click)="submitInfo()">Submit</button>

            <!--<div class="epfo hide">

                <h5>Are you a member of EPFO?</h5>

                <div class="qFormOptions">

                    <input type="button" value="YES" placeholder="YES" class="Qbuttons" (click)="toEsic(true)">
                    <input type="button" value="NO" placeholder="NO" class="Qbuttons" (click)="toEsic(false)"> 

                </div>

            </div>-->



        </form>



    </div>
</div>